body {
    font-family: 'Yusei Magic', sans-serif;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
}

.fas{
    padding: 7px
}

.imagen-alien {
    display: flex;
    justify-content: center;

}
.formulario{
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;

}
.form-group {
    padding: 9px;
}