<div class="row bg-dark text-white p-5 text-center">
    <div class="col-sm-6">
        <i class="fab fa-youtube fa-10x"></i>
    </div>
    <div id="about" class="col-sm-6">
        <h3>Youtube</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quas nemo ut ullam odio quod a eaque dolorum aut eum? Voluptate, alias ex id tenetur ipsa quia tempore dolor temporibus!</p>
    </div>
</div>

<footer class="bg-light text-center p-2">
    <p class="h3">Federico Contarino 2021</p>
</footer>